<div class="card" *ngIf="selectedProgressDay">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Детализация от {{selectedProgressDay.date}}</h3>
    </div>
  </div>
  <div class="card-block">
    <div
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >{{message.text}}
    </div>
    <form #formGroup="ngForm" (ngSubmit)="onSubmit(formGroup)">
      <div class="form-group">

        <label class="control-label" for="e-select-category">Выполнить задачу:</label>
        <select
          id="e-select-category"
          class="form-control"
          name="parentIdx"
          [(ngModel)]="dropDownCategoryIdx"
          (change)="onCategoryChange()"
          [ngModelOptions]="{standalone: true}"
          #parentIdx="ngModel"
        >
          <option
            *ngFor="let c of categories; index as i"
            [value]="i"
          >{{c.name}}
          </option>
        </select>

        <div
          [ngClass]="{'has-error': score.invalid  && score.touched}"
          class="form-group" *ngIf="!isSimpleCategory()">
          <label class="control-label" for="e-category-value">Баллы </label>
          <input
            type="number"
            id="e-category-value"
            class="form-control"
            [(ngModel)]="score_to_add"
            name="score"
            #score="ngModel"
            min="1"
            required
          >
          <span
            *ngIf="score.invalid  && score.touched"
            class="form-help-text">Не может быть пустым</span>
        </div>

      </div>

      <button
        type="submit"
        class="btn btn-primary "
        [disabled]="formGroup.invalid"
      > Добавить
      </button>
    </form>

    <hr *ngIf="events.length > 0"/>

    <div style="margin-top: 20px" >
      <div *ngFor="let event of events" style="margin-top: 10px">
        <label class="control-label" for="e-category-capacity">{{categoryNameById(event.category_id)}}</label>
        <input
          *ngIf="event && !isSimpleCategoryById(event.category_id)"
          type="number"
          id="e-category-capacity"
          class="form-control"
          [(ngModel)]="event.score"
          min="1"
        >
      </div>

      <button
        style="margin-top: 15px"
        *ngIf="events.length > 0"
        (click)="updateEvents()"
        class="btn btn-primary "
      > Обновить
      </button>
    </div>


  </div>
</div>
<p *ngIf="!selectedProgressDay">
  Loading...
</p>
