<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Результаты</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Общий остаток: <span class="text-success">123</span>
          </h5>
        </div>
        <div class="card-block">

          <div class="row">
            <div class="col-xs-6">
              <a>
              <div class="n-progress">
                <div class="progress-bar success"  style="width: 100%;">
                  <span>19.06.2018</span>
                </div>
              </div>
              </a>
            </div>
            <div class="col-xs-6">
              <p>
               BOO
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

