<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Результаты</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Общий остаток: <span class="text-success">123</span>
          </h5>
        </div>
        <div class="card-block" *ngIf="isLoaded">

          <div class="row" *ngFor="let prog of progresses">
            <div class="col-xs-4">
              <a>
                <div class="n-progress">
                  <div class="progress-bar {{ prog.color }}" [ngStyle]="{width: prog.percent}">
                    <span>{{prog.date}}</span>
                  </div>
              </div>
              </a>
            </div>
          </div>
        </div>

        <div class="card-block" *ngIf="!isLoaded">

        </div>

      </div>
    </div>
  </div>
</section>

