<div class="title-block">
  <h3 class="title">
    История <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  Loading...
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-4">
      <app-history
        [progresses]="progresses"
        [selectedProgressDay]="selectedProgressDay"
        (onDateSelect)="selectProgressDay($event)"
      ></app-history>
    </div>
    <div class="col-md-4">
      <app-day-description
        [selectedProgressDay]="selectedProgressDay"
        [events]="filteredEvents"
        [categories]="categories"
      ></app-day-description>
    </div>
  </div>
</section>

<!--(onEventEdit)="eventWasEdited($event)"-->


