<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Задача #{{cat.id}}</h3>
    </div>
  </div>
  <div class="card-block">
    <div
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >{{message.text}}</div>
    <form #formGroup="ngForm" (ngSubmit)="onSubmit(formGroup)">
      <div class="form-group">

        <label class="control-label" for="e-select-category">Родитель:</label>
        <select
          id="e-select-category"
          class="form-control"
          name="parentIdx"
          [(ngModel)]="dropDownCategoryId"
          (change)="onCategoryChange()"
          [ngModelOptions]="{standalone: true}"
          #parentIdx="ngModel"
        >
          <option
            *ngFor="let c of filteredCategories"
            [value]="c.id"
          >{{c.name}}
          </option>
        </select>
      </div>

      <div
        [ngClass]="{'has-error': name.invalid  && name.touched}"
        class="form-group">
        <label class="control-label" for="e-category-name">Введите название</label>
        <input
          type="text"
          id="e-category-name"
          class="form-control"
          #name="ngModel"
          name="name"
          required
          [ngModel]="cat.name"
        >
        <span
          *ngIf="name.invalid  && name.touched"
          class="form-help-text">Не может быть пустым</span>
      </div>

      <div class="form-group">
        <label class="control-label" for="e-category-value">Баллы (для bool - %, end - top max) </label>
        <input
          type="number"
          id="e-category-value"
          class="form-control"
          [ngModel]="cat.score"
          name="score"
          #score="ngModel"
          min="1"
        >
      </div>

      <div class="form-group">
        <label class="control-label" for="e-category-capacity">Обьем для конечных</label>
        <input
          type="number"
          id="e-category-capacity"
          class="form-control"
          [ngModel]="cat.disposableCapacity"
          name="disposableCapacity"
          #disposableCapacity="ngModel"
          min="1"
        >
      </div>

      <div class="form-group" *ngIf="cat.disposable">
        <label class="control-label" for="e-disposableDone">Уже сделано</label>
        <input
          type="number"
          id="e-disposableDone"
          class="form-control"
          [ngModel]="cat.disposableDone"
          name="disposableDone"
          #disposableDone="ngModel"
          min="1"
        >
      </div>

      <div class="form-group">
        <label class="control-label" for="is-simple">Булевая (простая)</label>
        <input id="is-simple"
               type="checkbox"
               [checked]="cat.simple"
               [ngModel]="cat.simple"
               name="simple"
        />
      </div>

      <div class="form-group">
        <label class="control-label" for="is-disposable">Конечная задача</label>
        <input id="is-disposable"
               type="checkbox"
               [checked]="cat.disposable"
               [ngModel]="cat.disposable"
               name="disposable"
        />
      </div>

      <div class="form-group">
        <label class="control-label" for="is-deprecated">Устаревшая</label>
        <input id="is-deprecated"
               type="checkbox"
               [checked]="cat.deprecated"
               [ngModel]="cat.deprecated"
               name="deprecated"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary pull-right"
        [disabled]="formGroup.invalid"
      >Обновить
      </button>

      <button
        type="submit"
        class="btn btn-secondary"
        (click)="onCreateNewCat()"
        [disabled]="formGroup.invalid"
      >Создать
      </button>
    </form>
  </div>
</div>
